<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>erro 404</title>
</head>
<body>
    <header>
        <nav>
            <a href="#" class="logo">Dev.</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Util</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="section">
            <div class="left">
                <p>Erro 404</p>
                <h4>Erro, a página solicitada não foi encontrada<br> clique em "home" para voltar.</h4>
                <a href="#" class="btn">Home</a>
            </div>
            <div class="right">
                <img src="static/empilhadeira.png">
                <div class="shadow"></div>
            </div>
        </section>
    </main>
    <form action="/voltar">
        <button>voltar</button>
    </form>
</body>
</html>

